{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <h1>Article : </h1>
    <h2>{{ article.title }}</h2>

    {{ article.content }}

    <hr>


    <strong>Tags :</strong>
    <ul>
        {% for tag in article.tags %}
            <li><a href="/tag/{{ tag.name }}">{{ tag.name }} </a></li>
        {% else %}
            <li>No tags for this article</li>
        {% endfor %}
    </ul>


{% endblock %}